.info-eventos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*3 colunas de tamanho igual*/
  gap: 20px;
  margin-bottom: 32px;
  max-width: 1200px;
  width: 100%; /* NOVO: ocupa toda largura disponível */
  padding: 0 20px; /* NOVO: padding igual ao CardEvento */
}

.info-card {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: auto;
}

.info-header {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.info-icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0; /* pro ícone n encolher */
}

.info-icon-ingresso { /*pra arrumar os icons de ingresso pois eles estavm menores do que o do relógio*/
  width: 34px;
  height: 32px;
  flex-shrink: 0; /* pro ícone n encolher */
}


.info-label {
  text-align: center;
  font-size: 25px;
  font-weight: 600;

  /*pro texto ficar linear*/
  background: linear-gradient(90deg, #F8B7D9 0%, #D296FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  flex: 1; /* para o texto ocupar o espaço restante*/
  padding-right: 10px; /* compensa o espaço do ícone para centralizar */
}

.info-value {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: #554B50;
}