
.HomeConv-PesquisaEvento{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #FFF;
    width: 100%;
    height: 50px;
    padding-left: 18px;
    outline: none;
    border: none;
}

#img-lupa::placeholder {
    background: linear-gradient(to right, #F8B7D9, #D296FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
}

#img-lupa{
    background-image: url("../../../assets/home-convidado/icon-lupa.svg");
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 30px;
    padding-left: 60px;
}

