.carouselContainer {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 450px;
  margin: auto;
}

.embla{
  overflow: hidden;
}

.eventoContainer{
  display: flex;
}

.eventoSlide{
  flex: 0 0 100%;
  padding: 20px;
}

.eventoCard{
  background: transparent;
  color: white;
  border-radius: 20px;
  padding: 10px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* seta */
.eventoAnterior,
.eventoProximo{
  position: absolute;
  top: 50%;
  background: rgb(255, 255, 255);
  border: none;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.30);
  align-items: center;
  justify-content: center;
}

.eventoAnterior{
  left: 1px;
  align-items: center;
  justify-content: center;
  outline: none;
}

.eventoProximo{
  right: 1px;
  align-items: center;
  justify-content: center;
  outline: none;
}

.HomeConv-iconSeta{ 
  height: 20px;
  width: 20px;
}