.carousel-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%; /* Slide ocupa 100% da largura */
  padding: 20px;
}

.slide-card {
  background: #0b0f2b;
  color: white;
  border-radius: 20px;
  padding: 30px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* seta */
.embla__prev,
.embla__next {
  position: absolute;
  top: 50%;
  background: rgb(255, 255, 255);
  border: none;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.30);
  align-items: center;
  justify-content: center;
}

.embla__prev {
  left: 1px;
  align-items: center;
  justify-content: center;
  outline: none;
}

.embla__next {
  right: 1px;
  align-items: center;
  justify-content: center;
  outline: none;
}

.HomeConv-iconSeta{ 
  height: 20px;
  width: 20px;
}