.HomeConv-MuralEvento{
    background-color: #FFFFFF;
    width: 95.6%;
    height: 92vh;
    position:absolute;
    /* z-index:0; */
    left: 70px;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HomeConv-Carrossel{
    width: 800px;
    height: 450px;
}

.HomeConv-TitleEvento{
    padding-bottom: 8px;
}

.HomeConv-InfoEvento{
    width: 500px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.HomeConv-InfoData{
    display: flex;
    gap: 8px;
}

.HomeConv-InfoLocal{
    display: flex;
    gap: 8px;
}

.HomeConvTextMural{
    color: #676666;
}

/* Tamanho Icons */
.HomeConvIconMural{
    width: 16px;
    height: 25px;
}
