.HomeConv-MuralEvento {
  background-color: #FFFFFF;
  width: calc(100% - 70px);
  height: 92vh;
  position: absolute;
  left: 70px;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.HomeConv-Carrossel{
    width: 800px;
    height: 450px;
}

.HomeConv-TitleEvento{
    font-size: 30px;
    padding-bottom: 15px;
}

.HomeConv-InfoEvento{
    width: 48%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.HomeConv-InfoData{
    display: flex;
    gap: 8px;
}

.HomeConv-InfoLocal{
    display: flex;
    gap: 8px;
}

.HomeConvTextMural{
    color: #676666;
}

/* Tamanho Icons */
.HomeConvIconMural{
    width: 16px;
    height: 25px;
}
