/* Bloco principal */
.HomeConv-BuscarEvento{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 103vh;
    margin-left: 70px;
}

.HomeConv-ContainerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

.HomeConv-ContainerPesquisa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.HomeConvTitle1{
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
}

.HomeConv-ContainerCategorias{
    display: flex;
}

.HomeConv-TitleCategoria{
    width: 50%;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}