/* Bloco principal */
.HomeConv-BuscarEvento{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 103vh;
    margin-left: 70px;
}

.HomeConv-ContainerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.HomeConvTitle1{
    color: #FFF;
    font-size: 30px;
}

.HomeConv-ContainerProximoEvento{
    background-color: #FFF;
    border-radius: 25px;
    height: 120px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HomeConv-ContainerCategorias{
    display: flex;
}

