.navbar {
  background-color: #2c2127;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  left: 1;
  top: 0;
  gap: 25px;
  position:fixed;
  z-index: 1;
}

.navbar a {
  /*p tirar o linkzin da navbar ali*/
  text-decoration: none;
  color: antiquewhite;
}

/* LOGO*/ 

.navbar-logo img {
  /* tamanho logo*/
  width: 120px;
  height: 120px;
  user-select: none;      /* impede selecionar/arrastar */
}

/* PROFILE SECTION */ 

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 14px;
  background: linear-gradient(180deg, #F8A0CC 0%, #D296FF 100%);
  padding: 4px 4px 4px 14px;
  border-radius: 25px;
}

.navbar-profile span {
  color: #2c2127; /* texto escuro */
  font-weight: 800;
  font-size: 15px;
}


.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  overflow: hidden; /* vai garantir que nada fique fora do círculo*/ 
  background-color: #2c2127; /* fundo escuro do círculo */
}

/* Tudo isso pra ficar com as iniciais com gradiente... */
.profile-avatar span {
  background: linear-gradient(180deg, #F8A0CC 0%, #D296FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 500;
  font-size: 18px;
  z-index: 1;
}
