.sidebar {
  height: calc(100vh - 70px); /* subtrai a altura da navbar */
  background-color: #2c2127;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white; /*Seções*/
  position: fixed;
  z-index: 1000;
  left: 0; 
  top: 70px; 
  overflow-y: auto; 
  overflow-x: hidden; 
  transition: width 0.3s ease, padding 0.3s ease; /*Transição ao abrir e fechar a sidebar*/
  z-index: 1000;
}

.sidebar.aberta {
  width: 250px;
}

.sidebar.fechada {
  width: 70px;
  padding: 15px 5px;
}

/* Para esconder a sidebar quando fechada, menos o botão da seta que abre*/
/* pq quando a seta for clicada o js vai mudar o isOpen de false pra true ou true pra false, * então muda a classe de sidebar aberta para fechada e o display none vai ser acionado*/
.sidebar.fechada .sidebar-nav,
.sidebar.fechada .sidebar-footer,
.sidebar.fechada h3 {
  display: none;
}

/* Centraliza a seta quando fechada */
.sidebar.fechada .sidebar-header {
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.sidebar-header h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.sidebar-button {
  /*pra ficar certinho e sem fundo o icon*/
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.sidebar-button img {
  /*tamanho do icon*/
  width: 24px;
  height: 24px;
}

.sidebar-nav {
  /*pra separar as coisas*/
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  margin: 0 -16px; /* puxa o elemento para fora, alinhando o conteúdo */
  color: white; /*cor das letras*/
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s; /*pra mudança do fundo não ser tão brusca*/
  font-size: 14px;
}

.sidebar-link:hover {
  /*quando passa o mouse*/
  background: rgba(255, 255, 255, 0.1);
}

.sidebar-link span {
  white-space: nowrap; /* adicione isso - impede quebra de linha no texto */
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 15px; /*separação da linha*/
  margin-top: 20px;
  border-top: 2px solid transparent; /* borda transparente */
  border-image: linear-gradient(90deg, #f8b7d9 0%, #d296ff 100%) 1;
}
