.home-organizador {
  min-height: 100vh;
}

.home-organizador-layout {
  display: flex;
  min-height: calc(100vh - 70px); /* altura da navbar */
}

.home-organizador-layout main {
  flex: 1;
  padding: 32px 0;
  margin-left: 100px; /* largura da sidebar */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}