/*IMPORTANDO FONTE POPPINS*/ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /*Fonte geral*/
}

body, html{
  min-height: 100vh;
  background: linear-gradient(90deg, #F8B7D9 0%, #D296FF 100%);
}

#root{
  min-height: 300vh
}