.home-organizador {
  min-height: 100vh;
}

.home-organizador-layout {
  display: flex;
  min-height: calc(100vh - 70px); /* altura da navbar */
}

.home-organizador-content {
  flex: 1;
  padding: 102px 0 32px 0;
  margin-left: 100px; /* largura da sidebar */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* CENTRALIZADO */
}

/* Quando a sidebar estiver fechada */
/* .home-organizador-content.sidebar-closed {
  margin-left: 90px; /* DIMINUI: largura da sidebar fechada + pequeno espaço
} */